.footer{
    background: var(--primary, #C09015);
    height:70px;
    padding-left:112px;
    display: flex;
}

.footer p{
    font-size:16px;
    font-weight: 400;
    margin: auto 0;
}

@media screen and (width <=1120px) {
    .footer{
        padding-left: 70px;
    }

    .footer p{
        font-size: 14px;
    }
}

@media screen and (width <=770px) {
    .footer{
        padding-left: 40px;
    }

    .footer p{
        font-size: 13px;
    }
}

@media screen and (width <=550px) {
    .footer{
        padding-left: 20px;
        height: 40px;
    }

    .footer p{
        font-size: 11px;
    }
}