@font-face {
  font-family: vazirmatn;
  src: url(/src/assets/fonts/Vazirmatn-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: vazirmatn;

  src: url(/src/assets/fonts/Vazirmatn-Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: vazirmatn;

  src: url(/src/assets/fonts/Vazirmatn-Medium.ttf);
  font-weight: 500;
}

* {
  font-family: vazirmatn !important;
}
